:root {
    color-scheme: dark;
    --color-black: #000;
    --color-gray-1: #808080;
    --color-gray-2: #bababa;
    --color-white: #fff;
    --color-link-hover: #fff;
    --space-050: .5rem;
    --space-100: 1rem;
    --space-150: 1.5rem;
    --space-200: 2rem;
    --space-300: 3rem;
    --space-350: 3.5rem;
    --space-400: 4rem;
    --space-500: 5rem;
    --space-600: 6rem;
    --cursor-stroke: none;
    --cursor-fill: #bababa;
    --cursor-stroke-width: 1px;
}

*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 1rem;
    line-height: 1.625rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    margin: 0;
    padding: 0;
}

header {
    display: block;
}


div {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

a:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
    background: transparent;
}

a:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline: 2px solid red;
    background: transparent;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1, h2, h3, p, ul, li {
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
    margin: 0;
}

li {
    display: list-item;
    text-align: match-parent;
    margin: 0;
}

.cursor {
	display: none;
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		/* mix-blend-mode: color-burn; */
	}
    
	.cursor__inner {
		fill: var(--cursor-fill);
        filter: invert(0.5);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}
    
}

.container {
    min-width: 360px;
    max-width: 480px;
    margin: auto;
    padding-right: var(--space-100);
    padding-left: var(--space-100);   
}

@media screen and (min-width: 720px) {
    .container {
        width: 640px;
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1120px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 1600px;
        padding-right: 0;
        padding-left: 0;
    }
}

.heading-section {
    padding-top: var(--space-400);
}

@media (min-width: 1200px) {
    .heading-section {
        padding-top: var(--space-500);
        column-gap: var(--space-400);
        grid-template-columns: repeat(2,minmax(0,1fr));
        display: grid;
        grid-auto-rows: auto;
    }
}

@media (min-width: 1680px) {
    .heading-section {
        padding-top: var(--space-600);
    }
}


.heading-name-grey {
    color: var(--color-gray-2);
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 300;
}

.heading-details-white {
    font-size: 1.625rem;
    line-height: 2.25rem;
    padding-top: var(--space-150);
    color: var(--color-white);
}

@media (min-width: 1200px) {
    .heading-details-white {
        padding-right: var(--space-400);
        font-size: 1.875rem;
        line-height: 2.5rem;
        padding-top: var(--space-150);
    }
}

@media (min-width: 1680px) {
    .heading-details-white {
        padding-right: var(--space-400);
        font-size: 2.25rem;
        line-height: 3rem;
        padding-top: var(--space-150);
    }
}

.heading-details-cv {
    padding-bottom: var(--space-400);
    color: var(--color-gray-2);
    float: right;
    font-size: 1rem;
    line-height: 1.625rem;
}

@media (min-width: 1200px) {
    .heading-details-cv {
        padding-bottom: 0;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .heading-right {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.heading-right {
    padding-top: var(--space-200);
}

.bg-cover-img {
    background-image: url('media/sf.jpg');
    filter: grayscale(1);
    opacity: .5;
    height: 0;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
    cursor: none;
}

@media (max-width: 1200px) {
    .bg-cover-img {
        margin-top: var(--space-100);
    }
}

@media (min-width: 1200px) {
    .bg-cover-img {
        height: 100%;
        padding-bottom: 0;
        background-size: cover;
        background-position: center;
    }
}

main {
    display: block;
}

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-auto-rows: auto;
        column-gap: var(--space-400);
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-template-rows: auto 1fr;
    }
}

@media (min-width: 1680px) {
    main {
        grid-template-columns: repeat(4,minmax(0,1fr));
        grid-template-rows: repeat(1,minmax(0,1fr));
    }
}

.rows-main {
    font-size: 1rem;
    line-height: 1.625rem;
}

@media (min-width: 1200px) {
    .rows-main {
        grid-column-start: 1;
        grid-row: span 2 / span 2;
        grid-row-start: 1;
    }
}

@media (min-width: 1680px) {
    .rows-main {
        grid-column: span 2 / span 2;
        grid-row: auto;
    }
}

article {
    display: block;
}

@media (min-width: 1680px) {
    .category-main {
        column-gap: var(--space-400);
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

.sub-heading-white {
    padding-top: var(--space-300);
    padding-bottom: 0;
    margin: 0;
    color: var(--color-gray-2);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625rem;

}

.sub-heading-white-misc {
    padding-bottom: 0;
    margin: 0;
    color: var(--color-gray-2);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625rem;

}

@media (min-width: 1200px) {
    .sub-heading-white {
        padding-top: var(--space-400);
    }
}

@media (min-width: 1680px) {
    .sub-heading-white {
        padding-top: var(--space-400);
    }
}

@media (min-width: 1680px) {
    .category-list {
        display: grid;
        column-gap: var(--space-400);
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

.category-heading-grey {
    padding-top: var(--space-100);
    color: var(--color-gray-1);
    font-size: .8125rem;
    line-height: 1.5rem;
}

.category-sub-heading-grey {
    padding-bottom: .1rem;
    padding-top: var(--space-100);
    color: var(--color-gray-1);
    font-size: .8125rem;
    line-height: 1.5rem;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.block-link {
    display: block;
    padding-top: var(--space-050);
    padding-bottom: var(--space-050);
    animation: ease-in;
    transition: .8s;
}


.underline-inline {
    display: inline;
    position: relative;
    margin-right: var(--space-050);
    padding-bottom: .2rem;
    font-size: 1rem;
    line-height: 1.625rem;
}

.underline-inline-sp {
    display: inline;
    position: relative;
    margin-right: var(--space-050);
    padding-bottom: .2rem;
    animation: ease-in;
    transition: .8s;
}

@media (hover: hover) {
	.underline-inline, .underline-inline-sp {
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 1px;
		transition: background-size .7s ease
	}

	a:hover .underline-inline,
	a:focus .underline-inline {
		background-size: 100% 1px
	}

    a:hover .underline-inline-sp,
	a:focus .underline-inline-sp {
		background-size: 100% 1px
	}
}

.date-year-grey {
    color: var(--color-gray-1);
    display: inline;
    font-size: .8125rem;
    line-height: 1.5rem;

}

.block-list {
    padding-top: var(--space-050);
    padding-bottom: var(--space-050);
}

@media (min-width: 1200px) {
    .rows-other {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

@media (min-width: 1680px) {
    .rows-other {
        grid-column-start: 3;
        grid-row-start: 1;
    }
}


@media (min-width: 1200px) {
    .rows-links {
        grid-column-start: 2;
        grid-row-start: 1;
    }
}

@media (min-width: 1680px) {
    .rows-links {
        grid-column-start: 4;
    }
}

.block-links {
    padding-top: var(--space-100);
    color: var(--color-gray-2);
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: grid;
    font-size: .8125rem;
    line-height: 1.5rem;
}

.block-link-mail {
    display: block;
    padding-top: var(--space-100);
    padding-bottom: var(--space-050);
}

@media (min-width: 1200px) {
    .block-links {
        padding-top: var(--space-350);
        display: block;
    }
}

footer {
    display: block;
    padding-bottom: var(--space-200);
    padding-top: var(--space-300);
    color: var(--color-gray-1);
    text-align: center;
    font-size: .8125rem;
    line-height: 1.5rem;
}

footer > p {
    cursor: not-allowed;
}

@media (min-width: 1200px) {
    footer {
        padding-top: var(--space-400);
    }
}
